* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url('images/top_back3.png'); /* ファイル名を正確に！ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
